In [1]:
!pip install mysql-connector-python sqlalchemy matplotlib
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from db_setup import setup_database

# Set up the MySQL database
engine = setup_database()

# Function to run a single query and return a DataFrame
def run_query(query, params=None):
    try:
        with engine.connect() as connection:
            return pd.read_sql(query, connection, params=params)
    except Exception as e:
        print(f"Error executing query: {query}\nError: {str(e)}")
        return None

# Function to run dynamic region query
def run_dynamic_region_query():
    valid_regions = ['Central', 'East', 'South', 'West']
    region = input("Enter a region (Central, East, South, West) : ")
    while region not in valid_regions:
        print("Invalid region! Please choose Central, East, South, or West")
        region = input("Enter a region (Central, East, South, West) : ")
    query = """
    SELECT DATE_FORMAT(order_date, '%Y-%m') AS month, ROUND(SUM(sales), 2) AS total_sales
    FROM super_store_data
    WHERE region = %s
    GROUP BY month
    ORDER BY month;
    """
    df = run_query(query, params=(region,))
    return df

# Function to run multiple queries from a file
def RUN_QUERIES(filename):
    with open(filename, 'r') as file:
        script = file.read()
        queries = [q.strip() for q in script.split(';') if q.strip()]  # Skipping empty queries
        result = []
        for query in queries:
            if '%s' not in query:  # Skipping dynamic query
                df = run_query(query)
                if df is not None:
                    result.append(df)
        return result

# Function to plot 3 (2 , 5,  8 ) query results
def plot_results(results):
    # Check if results list is valid
    if not results:
        print("No results to plot")
        return

    # Plot Query 2: Sales by category (Bar chart)
    if len(results) > 1 and not results[1].empty:
        try:
            categories = results[1]['category']
            sales = results[1]['SUM(sales)']
            plt.figure(figsize=(8, 5))
            plt.bar(categories, sales, color='blue')
            plt.title('Total Sales by Category')
            plt.xlabel('Category')
            plt.ylabel('Sales ($)')
            plt.tight_layout()
            plt.savefig('sales_by_category.png')
            plt.close()
            print("Saved sales_by_category.png")
        except Exception as e:
            print(f"Error plotting Query 2: {str(e)}")

    # Plot Query 5: Top 5 states by profit (Horizontal bar chart)
    if len(results) > 4 and not results[4].empty:
        try:
            top_5 = results[4].head(5)
            states = top_5['state']
            profits = top_5['SUM(profit)']
            plt.figure(figsize=(8, 5))
            plt.barh(states, profits, color='orange')
            plt.title('Top 5 States by Profit')
            plt.xlabel('Profit ($)')
            plt.ylabel('State')
            plt.tight_layout()
            plt.savefig('profit_by_state.png')
            plt.close()
            print("Saved profit_by_state.png")
        except Exception as e:
            print(f"Error plotting Query 5: {str(e)}")

    # Plot Query 8: Top 3 states by profit margin (Pie chart)
    if len(results) > 7 and not results[7].empty:
        try:
            states = results[7]['state']
            margins = results[7]['profit_margin']
            plt.figure(figsize=(6, 6))
            plt.pie(margins, labels=states, autopct='%1.1f%%', colors=['blue', 'orange', 'green'])
            plt.title('Top 3 States by Profit Margin')
            plt.tight_layout()
            plt.savefig('profit_margin_by_state.png')
            plt.close()
            print("Saved profit_margin_by_state.png")
        except Exception as e:
            print(f"Error plotting Query 8: {str(e)}")

# Run the queries
results = RUN_QUERIES("sql_queries.sql")

# Run the dynamic region query
dynamic_result = run_dynamic_region_query()
if dynamic_result is not None:
    results.append(dynamic_result)

# Print results
for i, df in enumerate(results):
    print(f"\nResult of query {i + 1}:")
    print(df)

# Plot the results
plot_results(results)

print("Analysis complete , Check sales_by_category.png , profit_by_state.png , and profit_margin_by_state.png in the project folder")

Requirement already satisfied: mysql-connector-python in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (9.3.0)
Requirement already satisfied: sqlalchemy in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (2.0.41)
Requirement already satisfied: matplotlib in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (3.10.0)
Requirement already satisfied: greenlet>=1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.2.2)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

[notice] A new release of pip is available: 25.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip
C:\Users\user\Desktop\datascience projects and practice\Sales Data Analysis & Visualization Project\db_setup.py:51: SyntaxWarning: invalid escape sequence '\S'
  csv_path = "data\Superstore-data.csv"

Enter MySQL username:  root
Enter MySQL password:  8596
Enter MySQL host (default: localhost):  localhost
Enter database name:  hashir

Data loaded into table successfully.
Error executing query: --Query 9: Dynamic sales by region and month, implemented in sales_analysis.ipynb

-- Query 10: Orders with high discounts
SELECT category, COUNT(DISTINCT order_id) AS high_discount_orders
FROM super_store_data
WHERE discount > 0.2
GROUP BY category
ORDER BY high_discount_orders DESC
Error: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '--Query 9: Dynamic sales by region and month, implemented in sales_analysis.ipyn' at line 1
[SQL: --Query 9: Dynamic sales by region and month, implemented in sales_analysis.ipynb

-- Query 10: Orders with high discounts
SELECT category, COUNT(DISTINCT order_id) AS high_discount_orders
FROM super_store_data
WHERE discount > 0.2
GROUP BY category
ORDER BY high_discount_orders DESC]
(Background on this error at: https://sqlalche.me/e/20/f405)

Enter a region (Central, East, South, West) :  West

Result of query 1:
    region   SUM(sales)
0    South  391721.9050
1     West  725457.8245
2  Central  501239.8908
3     East  678781.2400

Result of query 2:
          category   SUM(sales)
0        Furniture  741999.7953
1  Office Supplies  719047.0320
2       Technology  836154.0330

Result of query 3:
  sub_category   SUM(sales)
0    Bookcases  114879.9963
1       Chairs  328449.1030
2       Labels   12486.3120
3       Tables  206965.5320
4      Storage  223843.6080

Result of query 4:
   DATE_FORMAT(order_date, '%Y-%m')   SUM(sales)
0                           2016-11   79411.9658
1                           2016-06   40344.5340
2                           2015-10   31404.9235
3                           2014-06   34595.1276
4                           2017-04   36521.5361
5                           2016-12   96999.0430
6                           2015-11   75972.5635
7                           2014-11   78628.7167
8                           2014-05   23648.2870
9                           2014-08   27909.4685
10                          2017-07   45264.4160
11                          2015-09   64595.9180
12                          2016-01   18542.4910
13                          2017-10   77776.9232
14                          2015-12   74919.5212
15                          2017-09   87866.6520
16                          2016-07   39261.9630
17                          2016-03   51715.8750
18                          2014-10   31453.3930
19                          2015-04   34195.2085
20                          2014-12   69545.6205
21                          2016-09   73410.0249
22                          2017-12   83829.3188
23                          2017-11  118447.8250
24                          2017-05   44261.1102
25                          2016-04   38750.0390
26                          2015-01   18174.0756
27                          2017-06   52981.7257
28                          2016-08   31115.3743
29                          2015-03   38726.2520
30                          2014-09   81777.3508
31                          2017-02   20301.1334
32                          2016-10   59687.7450
33                          2015-05   30131.6865
34                          2014-03   55691.0090
35                          2016-05   56987.7280
36                          2015-02   11951.4110
37                          2015-08   36898.3322
38                          2015-07   28765.3250
39                          2014-07   33946.3930
40                          2015-06   24797.2920
41                          2014-04   28295.3450
42                          2017-03   58872.3528
43                          2017-08   63120.8880
44                          2017-01   43971.3740
45                          2014-02    4519.8920
46                          2014-01   14236.8950
47                          2016-02   22978.8150

Result of query 5:
                   state  SUM(profit)
0             California   76381.3871
1               New York   74038.5486
2             Washington   33402.6517
3               Michigan   24463.1876
4               Virginia   18597.9504
5                Indiana   18382.9363
6                Georgia   16250.0433
7               Kentucky   11199.6966
8              Minnesota   10823.1874
9               Delaware    9977.3748
10            New Jersey    9772.9138
11             Wisconsin    8401.8004
12          Rhode Island    7285.6293
13              Maryland    7031.1788
14         Massachusetts    6785.5016
15              Missouri    6436.2105
16               Alabama    5786.8253
17              Oklahoma    4853.9560
18              Arkansas    4008.6871
19           Connecticut    3511.4918
20                Nevada    3316.7659
21           Mississippi    3172.9762
22                  Utah    2546.5335
23               Vermont    2244.9783
24             Louisiana    2196.1023
25              Nebraska    2037.0942
26               Montana    1833.3285
27        South Carolina    1769.0566
28         New Hampshire    1706.5028
29                  Iowa    1183.8119
30            New Mexico    1157.1161
31  District of Columbia    1059.5893
32                Kansas     836.4435
33                 Idaho     826.7231
34                 Maine     454.4862
35          South Dakota     394.8283
36          North Dakota     230.1497
37         West Virginia     185.9216
38               Wyoming     100.1960
39                Oregon   -1190.4705
40               Florida   -3399.3017
41               Arizona   -3427.9246
42             Tennessee   -5341.6936
43              Colorado   -6527.8579
44        North Carolina   -7490.9122
45              Illinois  -12607.8870
46          Pennsylvania  -15559.9603
47                  Ohio  -16971.3766
48                 Texas  -25729.3563

Result of query 6:
          category  SUM(quantity)
0        Furniture         8028.0
1  Office Supplies        22906.0
2       Technology         6939.0

Result of query 7:
          category  average_sales_per_order
0       Technology                   541.55
1        Furniture                   420.63
2  Office Supplies                   192.16

Result of query 8:
                  state  profit_margin
0  District of Columbia          36.98
1              Delaware          36.35
2             Minnesota          36.24

Result of query 9:
      month  total_sales
0   2014-01      2938.72
1   2014-02      1057.96
2   2014-03     11008.90
3   2014-04      9343.49
4   2014-05      6570.44
5   2014-06      9629.42
6   2014-07     21808.55
7   2014-08     13248.23
8   2014-09     14900.54
9   2014-10      8728.76
10  2014-11     23191.62
11  2014-12     25456.41
12  2015-01      6026.74
13  2015-02      1804.18
14  2015-03     15662.15
15  2015-04      9056.02
16  2015-05     12042.66
17  2015-06      5088.95
18  2015-07      7089.83
19  2015-08     12548.36
20  2015-09     13898.92
21  2015-10     14016.68
22  2015-11     14548.90
23  2015-12     28182.87
24  2016-01      3657.82
25  2016-02      3100.16
26  2016-03     17559.03
27  2016-04     10482.01
28  2016-05     10694.25
29  2016-06     18598.09
30  2016-07     15280.88
31  2016-08     11817.85
32  2016-09     23620.88
33  2016-10     15624.69
34  2016-11     23923.00
35  2016-12     33121.50
36  2017-01     12081.84
37  2017-02      9814.92
38  2017-03     29024.10
39  2017-04     13459.75
40  2017-05     15609.15
41  2017-06     15919.82
42  2017-07     20767.54
43  2017-08     25737.89
44  2017-09     27907.04
45  2017-10     21212.44
46  2017-11     28941.79
47  2017-12     29652.10
Saved sales_by_category.png
Saved profit_by_state.png
Saved profit_margin_by_state.png
Analysis complete , Check sales_by_category.png , profit_by_state.png , and profit_margin_by_state.png in the project folder